      .btn-spacing {
        margin-inline-end: 10px;
      }
      .logo-container {
        block-size: 100px;
        position: relative;
      }
      .card-form {
        margin-block-start: 50px;
      }

      .btn-skip {
        margin-left: 9px;
        background-color: rgb(79, 115, 182) ;
        color: white ;
      }
