.dashboard-logo {
  width: 70px;
  height: auto;
  display: block;      
}

.cancha-select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.cancha-icon {
  position: absolute;
  left: 12px;
  font-size: 0.9rem;
  color: #1a4754;
  pointer-events: none;
}

.cancha-select {
  padding-left: 34px;
  padding-right: 32px;

  border-radius: 10px;
  border: 1px solid #e0e0e0;

  background-color: #ffffff;
  font-size: 0.85rem;
  font-weight: 600;
  color: #1a4754;

  min-width: 210px;

  box-shadow: 0 2px 6px rgba(37, 90, 105, 0.08);
  transition: all 0.2s ease;
}

.cancha-select:hover {
  border-color: #b9dbe3;
  box-shadow: 0 4px 10px rgba(37, 90, 105, 0.15);
}

.cancha-select:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.2rem rgba(37, 90, 105, 0.25);
}

.cancha-select {
  background-image:
    linear-gradient(45deg, transparent 50%, #1a4754 50%),
    linear-gradient(135deg, #1a4754 50%, transparent 50%);
  background-position:
    calc(100% - 18px) calc(50% - 3px),
    calc(100% - 13px) calc(50% - 3px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .cancha-select {
    min-width: 100%;
    width: 100%;
  }
}

:host ::ng-deep .fc {
  background: #ffffff;
  border-radius: 14px;
}

:host ::ng-deep .fc-view-harness {
  padding: 8px 10px 12px;
}

/*  HEADER DE DIAS */

:host ::ng-deep .fc-col-header-cell {
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
}

:host ::ng-deep .fc-col-header-cell-cushion {
  padding: 10px 6px !important;
  font-weight: 800 !important;
  color: #1a4754 !important;
  text-transform: capitalize;
}

/* HORARIOS */

:host ::ng-deep .fc-timegrid-slot-label-cushion {
  font-weight: 700 !important;
  font-size: 0.85rem;
  color: #1a4754 !important;
}

:host ::ng-deep .fc-timegrid-slot {
  border-top: 1px dashed #e5e7eb;
  height: 68px !important;
}

/*  EVENTOS / SLOTS */

/* Base (todos los slots) */
:host ::ng-deep .slot-event {
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  background: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);

  padding: 8px 6px;
  min-height: 64px;

  font-size: 0.78rem;
  text-align: center;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease;
}

/*  RESPONSIVE */

@media (max-width: 768px) {
  :host ::ng-deep .fc-timegrid-slot {
    height: 58px !important;
  }

  :host ::ng-deep .slot-event {
    font-size: 0.72rem;
  }
}
