    <div class="not-found-wrapper">
      <div class="not-found-card" role="main" aria-labelledby="title-404">
        <h1 id="title-404">404 Not Found</h1>

        <div class="logo404" aria-hidden="true">
          <img src="./error404.png" alt="Raqueta golpeada por una pelota" />
          <span class="shadow" aria-hidden="true"></span>
        </div>

        <h2 class="lead">Ups... te fuiste fuera de la pista.</h2>
        <h2 class="sub">
          Parece que la pelota atravesó la paleta y se llevó esta página con
          ella.
        </h2>
        <a class="btn-home" routerLink="/">Volver al inicio</a>
      </div>
    </div>
